[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "quantkit"
description = "Tool for quantizing pre-trained large language models"
readme = "README.md"
license = { text = "LGPL-3.0-or-later" }
version = "0.1"
authors = [{ name = "xhedit", email = "jevd@protonmail.com" }]
dependencies = [
    "torch>=2.0.0",
    "einops",
    "tqdm",
    "transformers",
    "huggingface_hub",
    "safetensors",
    "auto-gptq",
    "autoawq",
    "exl2conv",
]

[project.optional-dependencies]
dev = []

[project.urls]
repository = "https://github.com/xhedit/quantkit"

[project.scripts]
quantkit = "quantkit.cli:main"

[tool.setuptools]
packages = [
    "quantkit",
]
